<!--Main landing page of the app.  -->
<div class="container">
  <div class="mt-4 mb-4">
    <h4>{{ title }}</h4>
  </div>

  <!--All the navigation routes buttons-->
  <div class="btn-toolbar text-center well">
    <!-- Button 1 for Real Time Component-->
    <div class="col-md-4 col-lg-3 mb-2 ">
      <button
        class="btn btn-sm btn-outline-primary btn-block"
        [routerLink]="['/realtime']"
        routerLinkActive="active"
      >
        Real-time
      </button>
    </div>
    <!-- Button 2 for Shapshot Component-->
    <div class="col-md-4 col-lg-3 mb-2">
      <button
        class="btn btn-sm btn-outline-warning btn-block"
        [routerLink]="['/snapshot']"
        routerLinkActive="active"
      >
        Snapshot
      </button>
    </div>

    <!-- Button 3 for Historical Component-->
    <div class="col-md-3 col-lg-3 mb-2">
      <button
        class="btn btn-sm btn-outline-danger btn-block"
        [routerLink]="['/historical']"
        routerLinkActive="active"
      >
        Historical
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
